<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initialscale=1.0">-->
<!--    <th:block th:replace="~{layout::link-css}"></th:block>-->
<!--    <th:block th:replace="~{layout::custom-css}"></th:block>-->
<!--    <title>Add Book</title>-->
<!--</head>-->
<!--<body>-->
<!--<th:block th:replace="~{layout::header}"></th:block>-->
<!--<div class="container">-->
<!--    <h1>Add Book</h1>-->
<!--    <input type="text" id="autocomplete" placeholder="Start typing...">-->
<!--    <div id="suggestions"></div>-->
<!--    <form th:action="@{/dvts/add}" th:object="${dvt}" method="post">-->


<!--        <div class="col-6 mb-3">-->
<!--            <label class="form-label" for="tenNSX">TenDVT:</label>-->
<!--            <input class="form-control" type="text" th:field="*{tenDVT}"-->
<!--                   id="tenNSX" a>-->
<!--        </div>-->




<!--        <input type="submit" class="btn btn-primary" value="Save">-->
<!--    </form>-->
<!--    <br>-->
<!--    <a th:href="@{/nhasanxuats}">Back to List</a>-->
<!--</div>-->
<!--<th:block th:replace="~{layout::footer}"></th:block>-->
<!--</body>-->

<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragment/headAdmin :: headAdmin"></head>
<body id="crancy-dark-light">
<div class="crancy-body-area">
    <!-- crancy Admin Menu -->
    <div th:replace="Fragment/AdminMenu :: AdminMenu"></div>
    <!-- End crancy Admin Menu -->

    <!-- Start Header -->
    <header th:replace="Fragment/AdminHeader :: AdminHeader"></header>
    <!-- End Header -->

    <!-- crancy Dashboard -->
    <section class="crancy-adashboard crancy-show">
        <div class="container container__bscreen">

            <div class="row">
                <div class="col-xxl-8 col-12 crancy-main__column">
                    <div class="crancy-body">
                        <!-- Dashboard Inner -->
                        <h1>Thêm Đơn Vị Tính</h1>
                        <!-- <form th:action="@{/products/add}" th:object="${product}" method="post"
                        class="needs-validation" novalidate>-->
                        <form th:action="@{/dvts/add}" th:object="${dvt}" method="post">
                            <div class="col-6 mb-3">
                                <label class="form-label" for="tenNSX">TenDVT:</label>
                                <input class="form-control" type="text" th:field="*{tenDVT}"
                                       id="tenNSX" a>
                            </div>

                            <button type="submit" class="btn btn-primary" value="Save">Thêm</button>
                            <a class="btn btn-warning" th:href="@{/dvts}">Quay Lại</a>
                        </form>

                        <!-- End Dashboard Inner -->
                    </div>
                </div>

                <div class="col-xxl-4 col-12 crancy-main__sidebar">
                    <!-- Crancy Sidebar -->

                    <!-- End Crancy Sidebar -->
                </div>
            </div>
        </div>
    </section>
    <!-- End crancy Dashboard -->
</div>

<div th:replace="Fragment/scriptAdmin :: scriptAdmin"></div>
</body>

</html>
