<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headAdmin">
                <!-- Meta Tags -->
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="keywords" content="Site keywords here" />
                <meta name="description" content="#" />
                <meta
                        name="viewport"
                        content="width=device-width, initial-scale=1, shrink-to-fit=no"
                />

                <!-- Site Title -->
                <title>Zomur - Modern Bootstrap Dashboard Template</title>

                <!-- Fav Icon -->
                <link rel="icon" href="img/favicon.png" />

                <!--  Stylesheet -->
                <link rel="stylesheet" th:href="@{/fe/admin/css/bootstrap.min.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/slick.min.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/font-awesome-all.min.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/charts.min.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/datatables.min.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/fancy-box.min.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/nice-select.min.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/pikaday.min.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/reset.css}" />
                <link rel="stylesheet" th:href="@{/fe/admin/css/style.css}"/>
        </head>
</html>
