<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
>
<!-- Main Header-->
<header th:fragment="header" class="main-header header-style-one" >

  <!-- Header top -->
  <div class="header-top">
    <div class="auto-container">
      <div class="inner-container">
        <div class="top-left">
          <ul class="contact-list clearfix">
            <li><i class="flaticon-hospital-1"></i>123 Điện Biên Phủ TPHCM </li>
            <li><i class="flaticon-back-in-time"></i>Thứ Hai đến thứ Bảy: 08:30 - 18:00. ĐÓNG Của CHỦ NHẬT</li>
          </ul>
        </div>
        <div class="top-right">
          <ul class="social-icon-one">
            <div sec:authorize="hasAuthority('ADMIN')">
            <li><a th:href="@{/thuocs/thuocAdmin}"><span class="fab btn-outline-primary">Admin</span></a></li>
            </div>
            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
            <li><a href="#"><span class="fab fa-skype"></span></a></li>
            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Top -->

  <!-- Header Lower -->
  <div class="header-lower">
    <div class="auto-container">
      <!-- Main box -->
      <div class="main-box" style="width: 1200px">
        <div class="logo-box">
          <div class="logo"><a href="index.html"><img th:src="@{fe/images/logo.png}" alt="" title=""></a></div>
        </div>

        <!--Nav Box-->
        <div class="nav-outer">
          <nav class="nav main-menu">
            <ul class="navigation" id="navbar">
              <li class="current dropdown">
                <span><a href="http://localhost:8080">TRANG CHỦ</a></span>
<!--                <ul>-->
<!--                  <li class="current"><a href="index.html">Trang Chủ</a></li>-->
<!--                  <li><a href="index-2.html">Home Clanic</a></li>-->
<!--                  <li><a href="index-3.html">Home Dental Care</a></li>-->
<!--                  <li><a href="index-4.html">Home Eye Care</a></li>-->
<!--                  <li><a href="index-5.html">Home Prenatal care</a></li>-->
<!--                </ul>-->
              </li>

<!--              <li class="dropdown">-->
<!--                <span>Trang</span>-->
<!--                <ul>-->
<!--                  <li><a href="about-us.html">About Us</a></li>-->
<!--                  <li><a href="services.html">Services</a></li>-->
<!--                  <li><a href="services.html">Gallery</a></li>-->
<!--                  <li><a href="pricing-table.html">Pricing Table</a></li>-->
<!--                  <li><a href="elements.html">UI Elements</a></li>-->
<!--                  <li><a href="coming-soon.html">Coming Soon</a></li>-->
<!--                  <li><a href="error-page.html">Error 404</a></li>-->
<!--                  <li><a href="terms-and-condition.html">Terms and Condition</a></li>-->
<!--                </ul>-->
<!--              </li>-->
              <li class="dropdown">
                <span>Bác sĩ</span>
                <ul>
                  <li><a href="/doctors/list-user">Bác Sĩ</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <span>Khoa</span>
                <ul>
                  <li><a href="/khoas/list-user">Khoa</a></li>
<!--                  <li><a href="department-detail.html">Cardiology</a></li>-->
<!--                  <li><a href="department-detail.html">Neurology</a></li>-->
<!--                  <li><a href="department-detail.html">Urology</a></li>-->
<!--                  <li><a href="department-detail.html">Gynecological</a></li>-->
<!--                  <li><a href="department-detail.html">Pediatrical</a></li>-->
<!--                  <li><a href="department-detail.html">Laboratory</a></li>-->
<!--                  <li><a href="department-detail.html">Department Detail</a></li>-->
                </ul>
              </li>

              <li class="dropdown">
                <span>Blog</span>
                <ul>
                  <li><a href="/blogs/blog-list-user">Blog</a></li>
<!--                  <li><a href="blog-checkboard.html">Checkerboard</a></li>-->
<!--                  <li><a href="blog-masonry.html">Masonry</a></li>-->
<!--                  <li><a href="blog-two-col.html">Two Columns</a></li>-->
<!--                  <li><a href="blog-three-col.html">Three Colums</a></li>-->
<!--                  <li><a href="blog-four-col-wide.html">Four Colums</a></li>-->
<!--                  <li class="dropdown">-->
<!--                    <span>Post Types</span>-->
<!--                    <ul>-->
<!--                      <li><a href="blog-post-image.html">Image Post</a></li>-->
<!--                      <li><a href="blog-post-gallery.html">Gallery Post</a></li>-->
<!--                      <li><a href="blog-post-link.html">Link Post</a></li>-->
<!--                      <li><a href="blog-post-audio.html">Audio Post</a></li>-->
<!--                      <li><a href="blog-post-quote.html">Quote Post</a></li>-->
<!--                      <li><a href="blog-post-video.html">Video Post</a></li>-->
<!--                    </ul>-->
<!--                  </li>-->
                </ul>
              </li>
              <li class="dropdown">
                <span>Cửa hàng</span>
                <ul>
                  <li><a href="/thuocs">Cửa Hàng</a></li>
                  <li><a href="/cart">Giỏ Hàng</a></li>
<!--                  <li><a href="shopping-cart.html">Shopping Cart</a></li>-->
<!--                  <li><a href="checkout.html">Checkout</a></li>-->
<!--                  <li><a href="login.html">Login</a></li>-->
                </ul>
              </li>
              <li><a href="contact.html">Liên Hệ</a></li>
            </ul>
          </nav>
          <!-- Main Menu End-->

          <div class="outer-box">
            <button class="search-btn"><span class="fa fa-search"></span></button>
            <div class="dropdown" style="margin-right: -20px" sec:authorize="!isAuthenticated()">
              <button class="btn btn-outline-primary-2x dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/login">Đăng nhập</a>
                <a class="dropdown-item" href="/register">Đăng kí</a>
              </div>
            </div>
            <div class="dropdown" style="margin-right: -20px" sec:authorize="isAuthenticated()">
              <button class="btn btn-outline-primary-2x dropdown-toggle" type="button" id="dropdownMenuButtonn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </button>
              <form th:action="@{/logout}" method="post">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" type="submit">Đăng Xuất</button>
                </div>
              </form>
            </div>
            <a href="/doctors/list-user" class="theme-btn btn-style-one"><span class="btn-title">Đặt Lịch</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sticky Header  -->
  <div class="sticky-header">
    <div class="auto-container">

      <div class="main-box">
        <div class="logo-box">
          <div class="logo"><a href="http://localhost:8080/"><img th:src="@{fe/images/logo.png}" alt="" title=""></a></div>
        </div>

        <!--Keep This Empty / Menu will come through Javascript-->
      </div>
    </div>
  </div><!-- End Sticky Menu -->

  <!-- Mobile Header -->
  <div class="mobile-header">
    <div class="logo"><a href="index.html"><img th:src="@{fe/images/logo.png}" alt="" title=""></a></div>

    <!--Nav Box-->
    <div class="nav-outer clearfix">

      <div class="outer-box">
        <!-- Search Btn -->
        <div class="search-box">
          <button class="search-btn mobile-search-btn"><i class="flaticon-magnifying-glass"></i></button>
        </div>

        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="fa fa-bars"></span></a>
      </div>
    </div>
  </div>

  <!-- Mobile Nav -->
  <div id="nav-mobile"></div>

  <!-- Header Search -->
  <div class="search-popup">
    <span class="search-back-drop"></span>
    <button class="close-search"><span class="fa fa-times"></span></button>

    <div class="search-inner">
      <form method="post" action="https://skyethemes.com/html/2022/medicoz/blog-showcase.html">
        <div class="form-group">
          <input type="search" name="search-field" value="" placeholder="Search..." required="">
          <button type="submit"><i class="flaticon-magnifying-glass"></i></button>
        </div>
      </form>
    </div>
  </div>
  <!-- End Header Search -->

</header>