<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title>Web Phòng Khám</title>

    <!-- Stylesheets -->
    <link th:href="@{/fe/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/fe/css/style.css}" rel="stylesheet">
    <link th:href="@{/fe/css/responsive.css}" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" th:href="@{/fe/css/color-themes/default-theme.css}" rel="stylesheet">

    <!--Color Switcher Mockup-->
    <link th:href="@{/fe/css/color-switcher-design.css}" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{/fe/images/favicon.png}" type="image/x-icon">
    <link rel="icon" th:href="@{/fe/images/favicon.png}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js}"></script>
    <script th:src="@{/fe/js/respond.js}"></script>
</head>