<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<body th:fragment="script">
    <script th:src="@{/fe/js/jquery.js}"></script>
    <script th:src="@{/fe/js/popper.min.js}"></script>
    <script th:src="@{/fe/js/bootstrap.min.js}"></script>
    <script th:src="@{/fe/js/jquery.fancybox.js}"></script>
    <script th:src="@{/fe/js/mmenu.polyfills.js}"></script>
    <script th:src="@{/fe/js/jquery.modal.min.js}"></script>
    <script th:src="@{/fe/js/mmenu.js}"></script>
    <script th:src="@{/fe/js/appear.js}"></script>
    <script th:src="@{/fe/js/owl.js}"></script>
    <script th:src="@{/fe/js/wow.js}"></script>
    <script th:src="@{/fe/js/script.js}"></script>
    <!-- Color Setting -->
    <script th:src="@{/fe/js/color-settings.js}"></script>
</body>