<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragment/head :: head"></head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>
    <header th:replace="Fragment/header :: header"></header>

    <!--End Main Header -->

    <!-- Bnner Section One -->
    <section class="banner-section-one">
        <div class="banner-carousel owl-carousel owl-theme default-arrows dark">
            <!-- Slide Item -->
            <div class="slide-item" style="background-image: url(/fe/images/main-slider/1.jpg);">
                <div class="auto-container">
                    <div class="content-outer">
                        <div class="content-box">
                            <span class="title">Chào mừng đến với Trung tâm Chăm sóc Y tế của chúng tôi</span>
                            <h2>Chúng tôi chăm sóc<br>sức khỏe bệnh nhân</h2>
                            <div class="text">Tôi nhận ra rằng trở thành bác sĩ, tôi chỉ có thể giúp đỡ một cộng đồng nhỏ. <br>Nhưng bằng cách trở thành bác sĩ, tôi có thể giúp đỡ cả đất nước mình. </div>
                            <div class="btn-box">
                                <a href="about-us.html" class="theme-btn btn-style-one"><span class="btn-title">Về chúng tôi</span></a>
                                <a href="departments.html" class="theme-btn btn-style-two"><span class="btn-title">Dịch vụ của chúng tôi</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item" style="background-image: url(/fe/images/main-slider/2.jpg);">
                <div class="auto-container">
                    <div class="content-outer">
                        <div class="content-box">
                            <span class="title">Chào mừng đến với Trung tâm Chăm sóc Y tế của chúng tôi</span>
                            <h2>Chúng tôi chăm sóc <br>sức khỏe bệnh nhân</h2>
                            <div class="text">Tôi nhận ra rằng trở thành bác sĩ, tôi chỉ có thể giúp đỡ một cộng đồng nhỏ. <br>Nhưng bằng cách trở thành bác sĩ, tôi có thể giúp đỡ cả đất nước mình. </div>
                            <div class="btn-box">
                                <a href="about-us.html" class="theme-btn btn-style-one"><span class="btn-title">Về chúng tôi</span></a>
                                <a href="departments.html" class="theme-btn btn-style-two"><span class="btn-title">Dịch vụ của chúng tôi</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Bnner Section One -->

    <!-- Top Features -->
    <section class="top-features">
        <div class="auto-container">
            <div class="row">
                <!-- Feature Block -->
                <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-charity"></span>
                        <h4><a href="#">Chất lượng & An toàn</a></h4>
                        <p>Bệnh viện Delmont của chúng tôi sử dụng công nghệ hiện đại và tuyển dụng một đội ngũ chuyên gia thực thụ.</p>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-lifeline"></span>
                        <h4><a href="#">Công nghệ hàng đầu</a></h4>
                        <p>Bệnh viện Delmont của chúng tôi sử dụng công nghệ hiện đại và tuyển dụng một đội ngũ chuyên gia thực thụ.</p>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-doctor"></span>
                        <h4><a href="#">Chuyên gia theo kinh nghiệm</a></h4>
                        <p>Bệnh viện Delmont của chúng tôi sử dụng công nghệ hiện đại và tuyển dụng một đội ngũ chuyên gia thực thụ.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Section -->


    <!-- About Section -->
    <section class="about-section">
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="sub-title">Y TẾ CỦA CHÚNG TÔI</span>
                            <h2>Hơn nữa, chúng tôi đang thiết lập các Tiêu chuẩn trong Nghiên cứu, Chăm sóc lâm sàng.</h2>
                            <span class="divider"></span>
                            <p>Chúng tôi cung cấp các dịch vụ y tế đầy đủ nhất để mọi người đều có cơ hội nhận được sự trợ giúp y tế chất lượng.</p>
                            <p> Phòng khám của chúng tôi đã phát triển để cung cấp cơ sở đẳng cấp thế giới về điều trị mất răng, thẩm mỹ nha khoa và nha khoa phục hồi tiên tiến. Chúng tôi là một trong những nhà cung cấp dịch vụ cấy ghép chất lượng nhất ở AUS với hơn 30 năm kinh nghiệm và đào tạo thực tế.</p>
                        </div>
                        <div class="link-box">
                            <figure class="signature"><img th:src="@{fe/images/resource/signature.png}" alt=""></figure>
                            <a href="#" class="theme-btn btn-style-one"><span class="btn-title">Thông tin thêm</span></a>
                        </div>
                    </div>
                </div>

                <!-- Images Column -->
                <div class="images-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="video-link">
                            <a href="https://www.youtube.com/watch?v=4UvS3k8D4rs" class="play-btn lightbox-image" data-fancybox="images"><span class="flaticon-play-button-1"></span></a>
                        </div>
                        <figure class="image-1"><img th:src="@{fe/images/resource/image-1.png}" alt=""></figure>
                        <figure class="image-2"><img th:src="@{fe/images/resource/image-2.png}" alt=""></figure>
                        <figure class="image-3">
                            <span class="hex"></span>
                            <img th:src="@{fe/images/resource/image-3.png}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- Services Section -->
    <section class="services-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="sub-title">DỊCH VỤ CỦA CHÚNG TÔI</span>
                <h2>Chúng tôi quan tâm đến bệnh nhân của mình.</h2>
                <span class="divider"></span>
            </div>

            <div class="row">
                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-heartbeat"></span>
                        <h5><a href="#">Kiểm tra sức khỏe</a></h5>
                        <div class="text">Chúng tôi cung cấp các thủ tục y tế mở rộng cho bệnh nhân trong và ngoài nước và chúng tôi rất tự hào về thành tích của đội ngũ nhân viên.</div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-surgery-room"></span>
                        <h5><a href="#">Phòng mổ</a></h5>
                        <div class="text">Chúng tôi cung cấp các thủ tục y tế mở rộng cho bệnh nhân trong và ngoài nước và chúng tôi rất tự hào về thành tích của đội ngũ nhân viên.</div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-pharmacy"></span>
                        <h5><a href="#">Hỗ trợ nhà thuốc</a></h5>
                        <div class="text">Chúng tôi cung cấp các thủ tục y tế mở rộng cho bệnh nhân trong và ngoài nước và chúng tôi rất tự hào về thành tích của đội ngũ nhân viên.</div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-transport"></span>
                        <h5><a href="#">Xe cứu thương</a></h5>
                        <div class="text">Chúng tôi cung cấp các thủ tục y tế mở rộng cho bệnh nhân trong và ngoài nước và chúng tôi rất tự hào về thành tích của đội ngũ nhân viên.</div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-lab"></span>
                        <h5><a href="#">Kiểm tra kinh độ cuối</a></h5>
                        <div class="text">Chúng tôi cung cấp các thủ tục y tế mở rộng cho bệnh nhân trong và ngoài nước và chúng tôi rất tự hào về thành tích của đội ngũ nhân viên.</div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-first-aid"></span>
                        <h5><a href="#">Quan tâm sâu sắc</a></h5>
                        <div class="text">Chúng tôi cung cấp các thủ tục y tế mở rộng cho bệnh nhân trong và ngoài nước và chúng tôi rất tự hào về thành tích của đội ngũ nhân viên.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section -->

    <!-- Team Section -->
    <section class="team-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="sub-title">Bác sĩ của chúng tôi</span>
                <h2>Đội ngũ bác sĩ tận tâm của chúng <tôi></tôi></h2>
                <span class="divider"></span>
            </div>

            <div class="row">
                <!-- Team Block -->
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <figure class="image"><img th:src="@{fe/images/resource/team-1.jpg}" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                        </ul>
                        <div class="info-box">
                            <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                            <span class="designation">Senior Dr. at Delmont</span>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <figure class="image"><img th:src="@{fe/images/resource/team-2.jpg}" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                        </ul>
                        <div class="info-box">
                            <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                            <span class="designation">Senior Dr. at Delmont</span>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <figure class="image"><img th:src="@{fe/images/resource/team-3.jpg}" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                        </ul>
                        <div class="info-box">
                            <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                            <span class="designation">Senior Dr. at Delmont</span>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <figure class="image"><img th:src="@{fe/images/resource/team-4.jpg}" alt=""></figure>
                        <ul class="social-links">
                            <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                        </ul>
                        <div class="info-box">
                            <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                            <span class="designation">Senior Dr. at Delmont</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sec-bottom-text">Đừng ngần ngại, hãy liên hệ với chúng tôi để được trợ giúp và dịch vụ tốt hơn <a href="#">Khám phá tất cả Dr. Team</a></div>
        </div>
    </section>
    <!-- End Team Section -->

    <!-- Appointment Section -->
    <section class="appointment-section">
        <div class="image-layer" style="background-image: url(/fe/images/background/2.jpg);"></div>
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <span class="title">Cần bác sĩ để kiểm tra?</span>
                        <h2>Chỉ cần đặt lịch hẹn  <br>và bạn đã hoàn tất!</h2>
                        <div class="number">Nhận báo giá hoặc cuộc gọi của bạn: <strong>0906464744</strong></div>
                        <a href="#" id="appointment-btn" class="theme-btn btn-style-three"><span class="btn-title">Nhận một cuộc hẹn</span></a>
                    </div>
                </div>
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <figure class="image"><img th:src="@{fe/images/resource/image-4.png}" alt=""></figure>
                </div>
            </div>

            <div class="fun-fact-section">
                <div class="row">
                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                            <h4 class="counter-title">Số năm kinh nghiệm</h4>
                            <span class="count-text" data-speed="3000" data-stop="25">0</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-team"></span></div>
                            <h4 class="counter-title">Chuyên khoa y tế</h4>
                            <span class="count-text" data-speed="3000" data-stop="470">0</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-hospital"></span></div>
                            <h4 class="counter-title">Chuyên khoa y tế</h4>
                            <span class="count-text" data-speed="3000" data-stop="689">0</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                            <h4 class="counter-title">Bệnh nhân hạnh phúc</h4>
                            <span class="count-text" data-speed="3000" data-stop="9036">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Appointment Section -->

    <!-- Testimonial Section -->
    <section class="testimonial-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title text-center">
                <span class="title">VUI VẺ Bệnh nhân</span>
                <h2>Bệnh nhân của chúng tôi nói gì</h2>
                <span class="divider"></span>
            </div>

            <div class="testimonial-outer">
                <!-- Client Testimonial Carousel -->
                <div class="client-testimonial-carousel owl-carousel owl-theme">

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Trung tâm y tế là nơi tuyệt vời để đáp ứng mọi nhu cầu y tế của bạn. Tôi đến để kiểm tra và không đợi quá 5 phút trước khi được khám. Tôi chỉ có thể tưởng tượng loại dịch vụ bạn nhận được cho những vấn đề nghiêm trọng hơn. Cảm ơn!</div>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Trung tâm y tế là nơi tuyệt vời để đáp ứng mọi nhu cầu y tế của bạn. Tôi đến để kiểm tra và không đợi quá 5 phút trước khi được khám. Tôi chỉ có thể tưởng tượng loại dịch vụ bạn nhận được cho những vấn đề nghiêm trọng hơn. Cảm ơn!</div>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Trung tâm y tế là nơi tuyệt vời để đáp ứng mọi nhu cầu y tế của bạn. Tôi đến để kiểm tra và không đợi quá 5 phút trước khi được khám. Tôi chỉ có thể tưởng tượng loại dịch vụ bạn nhận được cho những vấn đề nghiêm trọng hơn. Cảm ơn!</div>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Trung tâm y tế là nơi tuyệt vời để đáp ứng mọi nhu cầu y tế của bạn. Tôi đến để kiểm tra và không đợi quá 5 phút trước khi được khám. Tôi chỉ có thể tưởng tượng loại dịch vụ bạn nhận được cho những vấn đề nghiêm trọng hơn. Cảm ơn!</div>
                        </div>
                    </div>

                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Trung tâm y tế là nơi tuyệt vời để đáp ứng mọi nhu cầu y tế của bạn. Tôi đến để kiểm tra và không đợi quá 5 phút trước khi được khám. Tôi chỉ có thể tưởng tượng loại dịch vụ bạn nhận được cho những vấn đề nghiêm trọng hơn. Cảm ơn!</div>
                        </div>
                    </div>
                </div>

                <!-- Product Thumbs Carousel -->
                <div class="client-thumb-outer">
                    <div class="client-thumbs-carousel owl-carousel owl-theme">
                        <div class="thumb-item">
                            <figure class="thumb-box"><img th:src="@{fe/images/resource/testi-thumb-1.jpg}" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">Ngọc Hiếu</div>
                                <div class="designation">Chủ nhà hàng</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img th:src="@{fe/images/resource/testi-thumb-2.jpg}" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">Ngọc Hiếu</div>
                                <div class="designation">Chủ nhà hàng</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img th:src="@{fe/images/resource/testi-thumb-3.jpg}" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">Ngọc Hiếu</div>
                                <div class="designation">Chủ nhà hàng</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img th:src="@{fe/images/resource/testi-thumb-2.jpg}" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">Ngọc Hiếu</div>
                                <div class="designation">Chủ nhà hàng</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img th:src="@{fe/images/resource/testi-thumb-3.jpg}" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">Ngọc Hiếu</div>
                                <div class="designation">Chủ nhà hàng</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Section -->

    <!-- Pricing Section -->
    <section class="pricing-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="sub-title">Our Pricing</span>
                <h2>Pricing Plan</h2>
                <span class="divider"></span>
            </div>

            <div class="outer-box">
                <div class="row">
                    <!-- Pricing Block -->
                    <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="price-box">
                                <h4 class="price">7.610.297đ</h4>
                                <div class="validaty">Mỗi tháng</div>
                            </div>
                            <h3 class="title">Tim mạch</h3>
                            <ul class="features">
                                <li>Chẩn đoán chức năng</li>
                                <li>Thuốc gây dị ứng</li>
                                <li>Chất gây dị ứng phấn hoa</li>
                                <li>Chất gây dị ứng thực phẩm</li>
                            </ul>
                            <div class="btn-box">
                                <a href="" class="theme-btn">Nhận ưu đãi</a>
                            </div>
                        </div>
                    </div>

                    <!-- Pricing Block -->
                    <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="price-box">
                                <h4 class="price">3.054.300đ</h4>
                                <div class="validaty">Mỗi Tháng</div>
                            </div>
                            <h3 class="title">Chăm sóc chi tiết</h3>
                            <ul class="features">
                                <li>Cấy ghép răng</li>
                                <li>Nha khoa Lase</li>
                                <li>TXét nghiệm và điều trị</li>
                                <li>Tư vấn y tế</li>
                            </ul>
                            <div class="btn-box">
                                <a href="#" class="theme-btn">Nhận ưu đãi</a>
                            </div>
                        </div>
                    </div>

                    <!-- Pricing Block -->
                    <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="price-box">
                                <h4 class="price">3.817.875đ</h4>
                                <div class="validaty">Mỗi Tháng</div>
                            </div>
                            <h3 class="title">Kiểm tra cơ thể</h3>
                            <ul class="features">
                                <li>Xét nghiệm và điều trị</li>
                                <li>Dịch vụ phòng thí nghiệm</li>
                                <li>Chất gây dị ứng thực phẩm</li>
                            </ul>
                            <div class="btn-box">
                                <a href="#" class="theme-btn">Nhận ưu đãi</a>
                            </div>
                        </div>
                    </div>

                    <!-- Pricing Block -->
                    <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="price-box">
                                <h4 class="price">2.545.250đ</h4>
                                <div class="validaty">Mỗi Tháng</div>
                            </div>
                            <h3 class="title">Xét nghiệm máu</h3>
                            <ul class="features">
                                <li>Dịch vụ xét nghiệm máu</li>
                                <li>Mẹo huấn luyện an toàn</li>
                                <li>Xét nghiệm và điều trị</li>
                                <li>Chất gây dị ứng thực phẩm</li>
                            </ul>
                            <div class="btn-box">
                                <a href="#" class="theme-btn">Nhận ưu đãi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sec-bottom-text">Đừng ngần ngại, hãy liên hệ với chúng tôi để được trợ giúp và dịch vụ tốt hơn  <a href="#">Khám phá tất cả Dr. Team</a></div>
        </div>
    </section>
    <!--End Pricing Section -->

    <!-- News Section -->
    <section class="news-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title text-center">
                <span class="title">OUR BLOG</span>
                <h2>Recent Articles and News</h2>
                <span class="divider"></span>
            </div>

            <div class="row">
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" >
                    <div class="row">
                        <div th:each="blog : ${blogs}" class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" style="width: 1000px">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a th:href="@{'/blogs/detail/' + ${blog.id}}"><img th:src="@{'/' + ${blog.img}}" alt="Blog Image"></a></figure>
                                    <a href="#" class="date" th:text="${#dates.format(blog.dateBegin, 'MMM dd, yyyy')}">Sep 19, 2020</a>
                                </div>
                                <div class="lower-content">
                                    <h4><a th:href="@{'/blogs/detail/' + ${blog.id}}" th:text="${blog.title}">What is The Success rate<br> of a root canal?</a></h4>
<!--                                        <div class="text" th:text="${blog.detail}"></div>-->
                                    <div class="post-info">
                                        <div class="post-author">By Admin</div>
                                        <ul class="post-option">
                                            <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                            <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End News Section -->

    <!-- Clients Section -->
    <section class="clients-section">
        <div class="auto-container">

            <!-- Sponsors Outer -->
            <div class="sponsors-outer">
                <!--clients carousel-->
                <ul class="clients-carousel owl-carousel owl-theme">
                    <li class="slide-item"> <a href="#"><img th:src="@{fe/images/clients/1.png}" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img th:src="@{fe/images/clients/2.png}" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img th:src="@{fe/images/clients/3.png}" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img th:src="@{fe/images/clients/4.png}" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img th:src="@{fe/images/clients/5.png}" alt=""></a> </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Clients Section -->
    <footer th:replace="Fragment/footer :: footer"></footer>


</div><!-- End Page Wrapper -->

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="inner-palate">
        <div class="color-trigger"><i class="fa fa-cog"></i></div>
        <div class="color-palate-head"><h5>GET AN AWESOME START!</h5></div>
        <div class="demos-box">
            <h6>Choose your demo</h6>
            <ul class="single-item-carousel owl-carousel owl-theme demos-list">
                <li data-text="Home Medical"><a href="index.html"><img th:src="@{fe/images/background/demos/1.png}" alt=""></a></li>
                <li data-text="Home Clanic"><a href="index-2.html"><img th:src="@{fe/images/background/demos/2.png}" alt=""></a></li>
                <li data-text="Home Dental Care"><a href="index-3.html"><img th:src="@{fe/images/background/demos/3.png}" alt=""></a></li>
                <li data-text="Home Eye Care"><a href="index-4.html"><img th:src="@{fe/images/background/demos/4.png}" alt=""></a></li>
                <li data-text="Home Prenatal care"><a href="index-5.html"><img th:src="@{fe/images/background/demos/5.png}" alt=""></a></li>
            </ul>
        </div>
        <div class="various-color clearfix">
            <div class="colors-list">
                <h6>Choose Your Color</h6>
                <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
                <span class="palate tealblue-color" data-theme-file="css/color-themes/tealblue.css"></span>
                <span class="palate scarlet-color" data-theme-file="css/color-themes/scarlet.css"></span>
                <span class="palate kellygreen-color" data-theme-file="css/color-themes/kellygreen.css"></span>
                <span class="palate dodgerblue-color" data-theme-file="css/color-themes/dodgerblue.css"></span>
                <span class="palate red-color" data-theme-file="css/color-themes/red.css"></span>
                <span class="palate selectiveyellow-color" data-theme-file="css/color-themes/selectiveyellow.css"></span>
                <span class="palate maroon-color" data-theme-file="css/color-themes/maroon.css"></span>
                <span class="palate brown-color" data-theme-file="css/color-themes/brown.css"></span>
                <span class="palate green-color" data-theme-file="css/color-themes/green.css"></span>
                <span class="palate duchessblue-color" data-theme-file="css/color-themes/duchessblue.css"></span>
                <span class="palate lightblue-color" data-theme-file="css/color-themes/lightblue.css"></span>
                <span class="palate frenchgray-color" data-theme-file="css/color-themes/frenchgray.css"></span>
                <span class="palate telemagenta-color" data-theme-file="css/color-themes/telemagenta.css"></span>
                <span class="palate signalviolet-color" data-theme-file="css/color-themes/signalviolet.css"></span>
            </div>
        </div>
        <div class="lower-options">
            <h6>RTL Supported</h6>
            <ul class="rtl-version option-box"> <li class="active">LTR</li> <li class="rtl">RTL</li> </ul>
            <h6>Box &amp; Wide layout</h6>
            <ul class="box-version option-box"> <li class="active">Wide</li> <li class="box">Boxed</li> </ul>
            <div class="box-mode-bg">
                <h6>Boxed Mode Backgrounds</h6>
                <ul class="clearfix">
                    <li class="active" style="background-image: url(/fe/images/background/boxed-bg/1.png);"></li>
                    <li style="background-image: url(/fe/images/background/boxed-bg/2.png);"></li>
                    <li style="background-image: url(/fe/images/background/boxed-bg/3.png);"></li>
                    <li style="background-image: url(/fe/images/background/boxed-bg/4.png);"></li>
                    <li style="background-image: url(/fe/images/background/boxed-bg/5.png);"></li>
                    <li style="background-image: url(/fe/images/background/boxed-bg/6.png);"></li>
                    <li style="background-image: url(/fe/images/background/boxed-bg/7.png);"></li>
                    <li style="background-image: url(/fe/images/background/boxed-bg/8.png);"></li>
                </ul>
            </div>
            <div class="palate-foo">
                <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
            </div>
            <a href="https://themeforest.net/item/medicoz-clinic-hospital-html-template/28397578?ref=bold_touch" class="purchase-btn">Purchase now $12</a>
        </div>
    </div>
</div><!-- End Color Switcher -->
<div th:replace="Fragment/script :: script"></div>



</body>

</html>


